.container{
    text-align: center;
}
.collection{
    
    padding-left: auto;
    padding-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(autofit,50em);
    grid-auto-flow: row;
   gap: 50px;
}
 

.book {
    border: solid;
    height: minmax(10em,fit-content);
    width: minmax(10em, fit-content);
}

.book > p{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}